header {
    display: flex;
    justify-content: center;
    padding: 20px;
}
header img {
    max-width: 100%;
    height: auto;
}

body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Calibri', sans-serif;
    background: #d7b8e9;
    color: white;
    line-height: 1.6;
    padding: 1em;
}

h1, h2 {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    color: grey;
    font-size: medium;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 2em;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
}


ul li a:hover {
    background-color: hotpink;
    color: white;
}

a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    padding: 2px 10px;
    background: white;
    border-radius: 3px;
}

a:hover {
    text-decoration: none;
    background-color: hotpink;
    color: white;
}

form {
    display: grid;
    gap: 10px;
    max-width: 100%;
    margin-bottom: 2em;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

form label {
    color: grey;
    font-weight: bold;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

div {
    margin-bottom: 2em;
}

div a {
    color: pink;
    text-decoration: none;
}

div strong {
    display: block;
    margin-top: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 2em 0;
}

small {
    color: grey;
}

.error {
    color: hotpink;
    font-size: 1.2em;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-bottom: 2em;
}

.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.message-content {
    flex-grow: 1;
    color: white;
}

.message-content strong {
    font-size: 1.2em;
    color: white;
}

.message-content p {
    color: white;
    margin-top: 5px;
    line-height: 1.4;
}

.friend-request {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.friend-request button {
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.request-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.friends {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.send_friend_request button{
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 50px;
}

.profile-picture {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: hotpink;
    border-radius: 5px;
}

.small-profile-picture {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: hotpink;
    border-radius: 5px;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
}

.big-heart-image {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: auto;
    z-index: 2;
}

.small-heart-image {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: auto;
    z-index: 2;
}

.footer {
    color: white;
    text-align: center;
    margin-bottom: 2em;
}
