<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaverit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='header.png') }}" alt="Header Image">
    </header>
    <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="{{ url_for('profile', username=session.get('username')) }}">Profiili</a></li>
        <li><a href="{{ url_for('edit_profile_route', username=session.get('username')) }}">Muokkaa profiilia</a></li>
        <li><a href="/friends">Kaverit</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>

    <h3>Kaveripyynnöt</h3>
    {% if requests %}
        {% for request in requests %}
            <div class="friend-request">
                <div class="user-info">
                    <div class="small-profile-picture">
                        <img src="{{ url_for('static', filename=request.avatar) }}" alt="Kuva" class="profile-image">
                    </div>
                    <a href="{{ url_for('profile', username=request.username) }}">{{ request.username }}</a>
                </div>

                <div class="request-buttons">
                    <form action="/accept_friend_request/{{ request.username }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">Hyväksy</button>
                    </form>
                    <form action="/decline_friend_request/{{ request.username }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit">Hylkää</button>
                    </form>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>Ei uusia kaveripyyntöjä</p>
    {% endif %}

    <h3>Kaverit</h3>
    {% if friends %}
        <div class="friends-container">
            {% for friend in friends %}
                <div class="friends">
                    <div class="user-info" style="align-items: center;">
                        <div class="small-profile-picture">
                            <img src="{{ url_for('static', filename=friend.avatar) }}" alt="Kuva" class="profile-image">
                            <img src="{{ url_for('static', filename='small_heart.png') }}" alt="Sydän" class="small-heart-image">
                        </div>
                        <a href="{{ url_for('profile', username=friend.username) }}">{{ friend.username }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Ei vielä kavereita</p>
    {% endif %}
    <footer>
        <p>Sovelluksen otsikon suunnittelussa on käytetty TextStudioa</p>
    </footer>
</body>
</html>
