<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirjautuminen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='header.png') }}" alt="Header Image">
    </header>

    <h2>Kirjaudu sisään tai luo profiili, jotta voit viestitellä</h2>

    <div class="error">
        {% if error %}
            {{ error }}
        {% endif %}
    </div>

    <div class="wide-form">
        <form action="/login" method="POST">
            <label for="username">Tunnus:</label>
            <input type="text" name="username" id="username" required><br>
            <label for="password">Salasana:</label>
            <input type="password" name="password" id="password" required><br>
            <input type="submit" value="Kirjaudu">
        </form>
    </div>

    <ul>    
        <li><a href="/signup">Luo käyttäjätunnus</a></li>
    </ul>
    <footer>
        <p>Sovelluksen otsikon suunnittelussa on käytetty TextStudioa</p>
    </footer>
</body>
</html>
