<body>
    <h1>Kaverisovellus</h1>
    <h2>Kirjaudu sisään tai luo profiili, jotta voit viestitellä</h2>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="/login" method="POST">
        <label for="username">Tunnus:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Salasana:</label>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="Kirjaudu">
    </form>

    <li><a href="/signup">Luo käyttäjätunnus</a></li>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit libero non urna facilisis, quis
        eleifend enim ullamcorper. Vivamus bibendum ex dolor. Maecenas a felis non odio pellentesque aliquet.
        Curabitur nibh velit, vehicula et semper in, ultricies et ipsum. Morbi efficitur, purus eget fringilla
        mollis, lacus arcu dignissim ante, ut mollis arcu ex eget tortor. Donec non massa sit amet arcu varius
        elementum eu id lorem. Morbi varius nulla at dui suscipit porta. Maecenas volutpat euismod leo, sit amet
        venenatis sapien rutrum sit amet.
    </p>
</body>