<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header>
      <img src="{{ url_for('static', filename='header.png') }}" alt="Header Image">
  </header>

  <ul>
    <li><a href="/">Etusivu</a></li>
    <li><a href="{{ url_for('profile', username=session.get('username')) }}">Profiili</a></li>
    <li><a href="{{ url_for('edit_profile_route', username=session.get('username')) }}">Muokkaa profiilia</a></li>
    <li><a href="/friends">Kaverit</a></li>
    <li><a href="/logout">Kirjaudu ulos</a></li>
  </ul>

  <h1>Käyttäjän {{ username }} profiili</h1>

  {% if session.get("user_id") != user.id %}
    {% if friends %}
        <h3 style="color:white; font-size: larger;">Olette kavereita!</h3>
        <div class="send_friend_request">
          <form action="/end_friendship/{{ user.id }}" method="POST">
            <button type="submit">Poista kavereista</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          </form>
        </div>
    {% elif friend_request %}
      <h3 style="color:white; font-size: larger;">Kaveripyyntö odottaa hyväksymistä</h3>
    {% else %}
    <div class="wide-form">
      <div class="send_friend_request">
        <form action="/send_friend_request/{{ user.id }}" method="POST">
          <button type="submit">Lähetä kaveripyyntö</button>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>
    </div>
    {% endif %}
  {% endif %}

  <div class="profile-container">
    <div class="big-profile-picture">
      <img src="{{ url_for('static', filename=profile.avatar) }}" alt="kuva" class="profile-image">
      {% if friends %}
        <img src="{{ url_for('static', filename='big_heart.png') }}" alt="Sydän" class="big-heart-image">
      {% endif %}
    </div>
    
    <div class="profile-info">
      <p style="font-size: large;"><strong>Ikä:</strong> {{ profile.age }}</p>
      <p style="font-size: large;"><strong>Harrastukset:</strong> {{ profile.hobbies }}</p>
      <p style="font-size: large;"><strong>Minusta:</strong> {{ profile.about_me }}</p>
    </div>
  </div>
  <footer>
    <p>Sovelluksen otsikon suunnittelussa on käytetty TextStudioa</p>
  </footer>
</body>
</html>
