<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header>
      <img src="{{ url_for('static', filename='header.png') }}" alt="Header Image">
  </header>

  <ul>
    <li><a href="/">Etusivu</a></li>
    <li><a href="{{ url_for('profile', username=session.get('username')) }}">Profiili</a></li>
    <li><a href="{{ url_for('edit_profile_route', username=session.get('username')) }}">Muokkaa profiilia</a></li>
    <li><a href="/friends">Kaverit</a></li>
    <li><a href="/logout">Kirjaudu ulos</a></li>
  </ul>

  <h1>Käyttäjän {{ username }} profiili</h1>

  {% if session.user_id != user.id %}
    {% if friends %}
        <p>Olette kavereita!</p>
    {% elif friend_request %}
        <p>Kaveripyyntö odottaa hyväksymistä</p>
    {% else %}
    <div class="send_friend_request">
      <form action="/send_friend_request/{{ user.id }}" method="POST">
        <button type="submit">Lähetä kaveripyyntö</button>
      </form>
    </div>
    {% endif %}
  {% endif %}

  <div class="profile-container">
    <div class="profile-picture">
      <img src="{{ url_for('static', filename=profile.profile_image) }}" alt="kuva" class="profile-image">
    </div>
    
    <div class="profile-info">
      <p><strong>Ikä:</strong> {{ profile.age }}</p>
      <p><strong>Harrastukset:</strong> {{ profile.hobbies }}</p>
      <p><strong>Minusta:</strong> {{ profile.about_me }}</p>
    </div>
  </div>
</body>

<footer>
  <p>Sovelluksen otsikon suunnittelussa on käytetty TextStudioa</p>
</footer>
</html>
